@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Noto+Serif:ital@0;1&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400&display=swap');

* {
  font-family: 'Noto Serif', serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

}

.header-home {
  background-image: url(img/header-bg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
}

.header-destination .nav-menu {
  position: fixed;
  width: 100%;

}

.header-destination .logo-normal {
  width: 215px;
}

.header-destination .nav-menu .nav1 .lang-globe .fa-globe {
  color: #004191;
  transition: .5s;
}

.header-destination .right-menu .burger-menu .bar1,
.header-destination .right-menu .burger-menu .bar2,
.header-destination .right-menu .burger-menu .bar3 {
  background-color: #004191;
}

.header-destination .nav-menu .nav1 .right-menu .menu-open span {
  color: #004191;
}

/*open menu aktived when navbar is not sticky*/

.header-destination .right-menu.aktiv {
  z-index: 99;
}

.header-destination .foto.aktiv {
  z-index: 99;
}

.header-destination .lang-globe.aktiv {
  z-index: 99;
}

.header-destination .nav-menu .nav1 .lang-globe.aktiv .fa-globe {
  color: white;
  z-index: 99;
}

/*open menu aktived when navbar sticky*/
.header-destination .nav-menu.sticky .right-menu .burger-menu .bar1,
.header-destination .nav-menu.sticky .right-menu .burger-menu .bar2,
.header-destination .nav-menu.sticky .right-menu .burger-menu .bar3 {
  background-color: #004191 !important;
}

.header-destination .nav-menu.sticky .nav1 .right-menu .menu-open span {
  color: #004191 !important;
}

.header-destination .nav-menu.sticky .nav1 .lang-globe .fa-globe.aktiv {
  color: #004191;
}

.basliq-blur {
  background: rgba(1, 1, 1, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

header .nav-menu {
  z-index: 99;
}

.nav-menu .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo .foto img:nth-child(2) {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: white;
  box-shadow: 0 0 3px grey;
}

.sticky .logo .foto img:nth-child(1) {
  display: none;
}

.sticky .logo .foto img:nth-child(2) {
  display: block;
  width: 215px;
  height: 101px;
  object-fit: contain;
}

.sticky .logo .nav1 .burger-menu div {
  background-color: #004191;
}

.sticky .logo .nav1 .menu-open span {
  color: #004191;
}

.sticky .logo .nav1 .lang-globe a i {
  color: #004191;
}

.nav-menu .nav1 {
  display: flex;
  width: 200px;
  gap: 10px;
  font-size: 1.2rem;
}

.nav-menu .nav1 .lang-globe {
  padding: 0 20px;
  font-size: 1.3rem;
}

/*hover lang drop-down*/
.lang-globe {
  position: relative;
}

.dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 0 8px rgb(214, 210, 210);
  border-radius: 5px;
  z-index: 1;
  transform: translate(-160px, -40px);
  transition: .5s ease-in;
}

.dropdown-content ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  margin-bottom: 0px;
}

.dropdown-content ul li {
  list-style: none;
}

.dropdown-content ul li:nth-child(1) a {
  color: red !important;
}

.dropdown-content ul li a {
  color: #004191 !important;
}

.dropdown-content ul li a:hover {
  color: red !important;
  transition: .7s;
}

.lang-globe:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.lang-globe:hover .fa-globe {
  color: #5eb6c6;
  transition: .7s ease-in;
}

/*hover lang drop-down*/

.nav-menu .nav1 a {
  color: white;
}

.nav1 .burger-menu {
  border: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
}

.nav-menu.sticky .burger-menu.activated .bar1 {
  width: 50%;
  rotate: 45deg;
  background-color: #004191 !important;
}

.nav-menu.sticky .burger-menu.activated .bar2 {
  rotate: 135deg;
  background-color: #004191 !important;
}

.nav-menu.sticky .burger-menu.activated .bar3 {
  rotate: 45deg;
  width: 50%;
  margin-left: 14px;
  background-color: #004191 !important;
}

.burger-menu.activated .bar1 {
  width: 50%;
  rotate: 45deg;
  background-color: white !important;
}

.burger-menu.activated .bar2 {
  rotate: 135deg;
  background-color: white !important;
}

.burger-menu.activated .bar3 {
  rotate: 45deg;
  width: 50%;
  margin-left: 14px;
  background-color: white !important;
}

.right-menu .burger-menu.activated .bar1 {
  transform: translateY(0);
}

.right-menu .burger-menu.activated .bar3 {
  transform: translateY(0);
}

.burger-menu div {
  display: block;
  position: absolute;
  height: 2.7px;
  background-color: white;
  transition: all .5s ease;
  margin: 5px auto;
}

.burger-menu .bar1 {
  width: 35%;
  z-index: 99;
}

.burger-menu .bar2 {
  top: 6px;
  width: 100%;
}

.burger-menu .bar3 {
  top: 12px;
  width: 35%;
  margin-left: 20px;
}

.nav1 .right-menu {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.nav1 .right-menu .menu-open {
  position: relative;
}

.nav1 .right-menu .menu-open span {
  position: absolute;
  transition: all .5s ease;

}

.right-menu:hover .bar1 {
  transform: translateY(6px);
}

.right-menu:hover .bar3 {
  transform: translateY(-6px);
}


.right-menu .menu-open span:nth-child(2) {
  visibility: hidden;
  opacity: 0;
}

.right-menu:hover .menu-open span:nth-child(2) {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
}

.right-menu:hover .menu-open.actived span:nth-child(2) {
  visibility: hidden;
  opacity: 0;
}

.right-menu:hover .menu-open span:nth-child(1) {
  visibility: hidden;
  opacity: 0;
}

.right-menu .menu-open span:nth-child(3) {
  visibility: hidden;
  opacity: 0;
}

.right-menu .menu-open.actived span:nth-child(3) {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  color: white !important;
}

.right-menu .menu-open.actived span:nth-child(1) {
  visibility: hidden;
  opacity: 0;
}

.nav-menu.sticky .menu-open.actived span {
  color: #004191 !important;
}


body .show-menu {
  transition: 1s;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 99;
  right: 0;
}

.logo-normal.aktiv {
  display: none;
}

.logo-fixed.aktiv {
  display: block !important;
  width: 215px;
  object-fit: cover;
  transition: 1s !important;
}

.show-menu.aktiv {
  visibility: visible;
  opacity: 1;
  transition: 1s;
}

body.aktiv {
  overflow: hidden;
}

body .show-menu .show-left {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  gap: 20px;
  padding-top: 50px;
}

body .show-menu .show-left .langs {
  display: flex;
  gap: 20px;
}

.show-left .langs a,
.show-left .subs-numbers a,
.show-left .subs-addr h6,
.show-left .subs-addr p {
  color: #004191;
}

.show-left .subs-numbers {
  display: flex;
  gap: 25px;
}

.show-left .subs-addr {
  padding-right: 80px;

}

body .show-menu .show-left div h1 a {
  font-size: 4rem;
  line-height: 90px;
  text-decoration: none;
}

body .show-menu .show-left .home-navi h1 a {
  color: #004191;
  font-weight: bold;
}

body .show-menu .show-left .navi-gators h1 a {
  text-shadow: 0 0 8px rgb(35, 33, 33);
  color: white;
  font-weight: bold;
}

body .show-menu .show-left .navi-gators:hover h1 a {
  color: #004191;
  transition: .5s all ease-in-out;
}

body .show-menu .show-right {
  display: flex;
  justify-content: space-evenly;
  gap: 150px;
  align-items: center;
  flex-direction: column;
  background: #004191;
  width: 50%;
  padding-top: 50px;
}

.show-right .subs-numbers {
  display: flex;
  gap: 25px;
}

.show-right .subs-numbers a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.show-right .numb-socs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.show-right .soc-net {
  display: flex;
  gap: 25px;
}

.show-right .soc-net a {
  font-size: 1.6rem;
  color: white;
  text-align: center;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

.show-right .soc-net a:hover i {
  cursor: pointer;
  color: #62a9ff;
  transition: .5s ease-out;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.show-right .numb-socs .subs-addr h6,
.show-right .numb-socs .subs-addr p {
  color: white;
  font-size: 1.8rem;
}

header .nav-bottom {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}

header .nav-bottom .nav2 {
  display: flex;
  justify-content: space-between;
}

.nav-bottom .nav2 p {
  width: 539px;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-weight: bolder;
}

.nav-bottom .nav2 h1 {
  font-size: 4rem;
}

header .scroll-down button {
  background-color: transparent;

  border-radius: 50%;
  border: none;
}

header .scroll-down button a {
  color: #F1F1F1;
}

header .scroll-down button a i {
  font-size: 2rem;
}

/*main begin*/
main .container,
footer .container {
  max-width: 1320px;
  width: 100%;
  margin: auto;
}

/*section1 begin*/
main .section1 .sect1-text h3,
main .section2 .sect2-text h3 {
  color: #004191;
}

/*destination page begin*/
.destinations {
  background-image: url(img/destination-header-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 200px;
}

.destinations .destiny .left-destiny h3 {
  color: #004191;
  font-weight: bold;
  padding-bottom: 20px;
}

.destinations .destiny {
  display: flex;
  justify-content: space-between;
}

.destinations .destiny .left-destiny {
  width: 45%;
}

.destinations .right-destiny {
  display: flex;
  gap: 15px;
  width: 45%;
}

.right-destiny .foto1.aktiv,
.right-destiny .foto1,
.right-destiny .foto2 {
  position: relative;
  overflow-y: hidden;
  transition: .3s;
  cursor: pointer;
}

.foto1 {
  width: 500px;
  overflow: hidden;
}

.foto1.aktiv {
  width: 700px !important;
}

.foto1:hover {
  width: 800px;
}

.foto1:hover .merkez-text {
  rotate: 0deg;
  left: 10px !important;
}

.right-destiny .foto1.aktiv .merkez-text {
  position: absolute;
  bottom: 30px;
  left: 20px;
  color: white;
  transition: .3s;
}

.right-destiny .foto1 .merkez-text {
  position: absolute;
  left: 20px;
  bottom: 30px;
  color: white;
  transition: .3s;
}

.foto1 .button-prev.aktiv {
  rotate: 180deg;
}

.foto2.aktiv .button-next.aktiv {
  rotate: -180deg;
}

.merkez-text.rotate {
  rotate: -90deg;
  bottom: 60px !important;
  left: -20px !important;
}

.foto1.aktiv img {
  width:100%;
  height: 100%;
  object-fit: cover;
  transition: all .5s;
}

.foto1.aktiv:hover {
  width: 600px;
  transform: scale(1);
}

.foto2 {
  width: 500px;
  height: 577px;
}

.foto2.aktiv {
  width: 800px !important;
}

.foto2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .5s;
}

.foto2:hover {
  width: 650px;
  transform: scale(1);
}

.right-destiny .foto2.aktiv .cappa-text { /*aktiv klassinda hover effektini itirmesi ucun eyni seyi :hover-siz yaziriq*/
  rotate: 0deg;
  left: 20px;
}

.right-destiny .foto2:hover .cappa-text {
  rotate: 0deg;
  left: 20px;
}

.right-destiny .cappa-text {
  position: absolute;
  bottom: 90px;
  left: -20px;
  color: white;
  rotate: -90deg;
  transition: .3s;
}

.right-destiny .button-next,
.right-destiny .button-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background: transparent;
  transition: .5s ease-in-out;
  border-radius: 50%;
  border: 1px solid white;
  padding: 2px;
  text-align: center;
}

.right-destiny .button-next i,
.right-destiny .button-prev i {
  color: white;
  font-size: 1rem;
}

.right-destiny .button-next:hover,
.right-destiny .button-prev:hover {
  background-color: #a0cbff;
}

.right-destiny .foto2 .button-next,
.right-destiny .foto1 .button-prev {
  right: 70px;
  bottom: 20px
}

.countries {
  margin-top: 100px;
}

.countries .country-selection {
  display: flex;
  justify-content: space-between;
}

.countries .country-selection .country-left {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.countries .country-selection .country-left ul li {
  color: #004191;
}

.countries .country-selection .country-left button {
  width: 400px;
  height: 120px;
  border: 1px solid #004191;
  outline: none;
  line-height: 27px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #FFFFFF;
  color: #004191;
  box-shadow: 0 0 8px grey;
  transition: .5s;
  margin-bottom: 20px;
}

.countries .country-selection .country-left button img {
  width: 40px;
  height: 30px;
  margin-right: 20px;
}

.countries .country-selection .country-left button:hover {
  background: rgb(212, 222, 234);
}

.button-aze,
.button-turk {
  position: relative;
}

.countries .country-selection .country-left .button-aze button::before {
  content: "";
  width: 20px;
  /* height: 100%; */
  background: url(img/ellipse-checked.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 50px;
  left: 22px;
  bottom: 0;
  z-index: 1;
}

.countries .country-selection .country-left .button-aze button.aktiv {
  width: 300px;
  border: none;
}

.countries .country-selection .country-left .button-turk button::before {
  content: "";
  width: 20px;
  /* height: 100%; */
  background: url(img/ellipse-unchecked.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 50px;
  left: 22px;
  bottom: 0;
  z-index: 1;
}

.countries .country-selection .country-left .button-turk button {
  width: 300px;
  border: none;
}

.countries .country-selection .country-left .button-turk button.aktiv {
  width: 400px;
  border: 1px solid #004191;
}

.countries .country-selection .country-left .button-aze button.aktiv::before {
  content: "";
  width: 20px;
  /* height: 100%; */
  background: url(img/ellipse-unchecked.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 50px;
  left: 22px;
  bottom: 0;
  z-index: 1;
}

.countries .country-selection .country-left .button-turk button.aktiv::before {
  content: "";
  width: 20px;
  /* height: 100%; */
  background: url(img/ellipse-checked.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 50px;
  left: 22px;
  bottom: 0;
  z-index: 1;
}

.countries .country-selection .country-left .button-turk .turk-cities {
  display: none;
}

.countries .country-selection .country-text {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.countries .country-selection .country-text h3 {
  color: #004191;
  margin-bottom: 15px;
}

.inspire {
  margin-top: 100px;
}

.inspire h2 {
  text-align: center;
  color: #004191;
  padding-bottom: 80px;
}

.inspire .gallery-insp {
  display: flex;
  gap: 10px;
}

.inspire .gallery-insp div {
  transition: .3s all ease-in-out;
  cursor: pointer;
  width: 214px;
  height: 490px;
}

.inspire .gallery-insp div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inspire .gallery-insp div:hover {
  transform: translate(0, -15px);
}

.inspire .gallery-insp div:nth-child(2n) {
  margin-top: 50px;
}

.accomodation {
  margin-top: 100px;
}

.accomodation .travel-place .travel-text {
  width: 45%;
}

.accomodation .travel-place .travel-text h3 {
  color: #004191;
  padding-bottom: 20px;
}

.accomodation .travel-place .travel-foto {
  width: 45%;
}

.accomodation .travel-place .travel-foto img {
  width: 100%;
  cursor: pointer;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

.accomodation .travel-place .travel-foto img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.accomodation .travel-place {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrive {
  margin-top: 100px;
}

.arrive .arriving {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arriving-left {
  width: 45%;
}

.arriving-left img {
  width: 100%;
  max-height: 325px;
  cursor: pointer;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

.arriving-left img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.arriving-right {
  width: 45%;
  position: relative;
}

.arriving-right .arrive-basliq {
  display: flex;
  gap: 15px;
}

.arriving-right .arrive-basliq .blue-blur {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #0072FF;
  filter: blur(12px);
  left: 10px;
  top: -10px;
}

.arriving-right h3 {
  color: #004191;
  padding-bottom: 20px;
}
/*destination page end*/

main .about {
  background-image: url(img/Ellipse\ 4.png);
  padding: 100px 0 100px 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

main .about .section1 .sect1-text p,
main .destination .section2 .sect2-text p {
  margin-top: 20px;
}

main .about .section1 {
  display: flex;
  gap: 50px;
}

main .about .section1 .sect1-foto img {
  cursor: pointer;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}


main .about .section1 .sect1-foto img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*section1 end*/

/*section2 begin*/
main .destination {
  padding: 100px 0 100px 0;
}

main .destination .section2 {
  display: flex;
  gap: 50px;
}

main .destination .section2 .sect2-foto img {
  cursor: pointer;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}


main .destination .section2 .sect2-foto img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*section2 end*/

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

/*section3 begin*/

/* Manshet part begin*/
.manshet_appartment {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0px auto 30px auto;
}

.manshet_appartment .gallery-top {
  display: block;
  width: 100%;
  margin: 0px auto;
  max-height: 700px;
}

.section3 h2 {
  color: #004191;
  text-align: center;
  margin: 40px 0;
}

.manshet_appartment .gallery-thumbs {
  display: block;
  width: 71%;
  height: auto;
  margin: 10px auto;
  position: absolute;
  right: 0;
}

.sld_img {
  display: block;
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.sld_img::before {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  padding-top: 56%;
}

.sld_img img,
.sld_img video,
.sld_img iframe {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  object-fit: cover;
}

.sld_thumb_img {
  display: block;
  position: relative;
  width: 345px;
  max-width: 100%;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.gallery-thumbs .swiper-slide:hover .sld_thumb_img {
  border: 1px solid #2196f3;
}

.gallery-thumbs .swiper-slide:hover .sld_thumb_img img {
  transform: scale(1.1);
}

.sld_thumb_img::before {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  padding-top: 134%;
}

.sld_thumb_img img,
.sld_thumb_img video,
.sld_thumb_img iframe {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  object-fit: cover;
  transition: all 0.3s ease;
}

.swiper-slide-thumb-active div.thumb-number {
  color: #FFD32A;
  border-bottom: 2px solid #FFD32A;
}

.thumb-number {
  display: none;
  width: 100%;
  padding: 10px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: left;
  font: normal normal 600 12px/14px SanFrancisco-Regular;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.manshet_appartment .swiper-button-next,
.manshet_appartment .swiper-button-prev {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  outline: 0;
  margin: 0;
  bottom: 10px;
  top: auto;
  opacity: 1;
  background: transparent;
  transition: .5s ease-in-out;
  border-radius: 50%;
  border: 1px solid white;
  padding: 7px;
  text-align: center;
  box-shadow: 0 0 8px #a0cbff;
}

.manshet_appartment .swiper-button-next i,
.manshet_appartment .swiper-button-prev i {
  color: white;
  font-size: 1.4rem;
}

.manshet_appartment .swiper-button-next:hover,
.manshet_appartment .swiper-button-prev:hover {
  background-color: #a0cbff;
}

.manshet_appartment .swiper-button-next {
  right: 20px;
}

.manshet_appartment .swiper-button-prev {
  left: auto;
  right: 70px;
}

.manshet_appartment .swiper-slide.swiper-slide-visible.swiper-slide-active {
  opacity: 0;
  visibility: hidden;
}

.manshet_appartment .swiper-slide.swiper-slide-prev {
  opacity: 0;
  visibility: hidden;
}

.gallery-top .swiper-slide .sld_img {
  transform: scale(0) !important;
  -webkit-transform: scale(0) !important;
  -moz-transform: scale(0) !important;
  -ms-transform: scale(0) !important;
  -o-transform: scale(0) !important;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.gallery-top .swiper-slide.swiper-slide-active .sld_img {
  transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
}

.gallery-top .swiper-slide.swiper-slide-prev .sld_img {
  transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
}


/* Manshet part end */
/*section3 end*/

/*section4 begin*/
main .section4 {
  padding: 70px 0 0 0;
}

main .section4 h2 {
  text-align: center;
  color: #004191;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

main .section4 .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .section4 .cards .card {
  text-align: center;
  align-items: center;
  padding: 20px;
  border: none;
  width: 30%;
  gap: 15px;
  transition: .5s all ease-in-out;
  cursor: pointer;
}

main .section4 .cards .card:hover {
  transform: translate(0, 10px);
}

main .section4 .cards .card .text-card p {
  color: grey;
}

main .section4 .cards .card .foto-card {
  position: relative;
}

main .section4 .cards .card .foto-card .blue-blur {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #0072FF;
  filter: blur(17px);
}

main .section4 .cards img {
  width: 90px;
  height: 90px;
}

main .section4 .cards .card h3 {
  color: #004191;
}

/*section4 end*/

/*section5 begin*/
main .section5 {
  margin: 100px 0 0 0;
}

main .section5 h2 {
  text-align: center;
  color: #004191;
  margin-bottom: 50px;
}

main .section5 .reference-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  position: relative;

}

main .section5 .reference-card .card {
  text-align: center;
  align-items: center;
  padding: 40px 20px;
  margin-top: 50px;
  margin-right: 10px;
  gap: 15px;
}

.section5 .reference-card .card .text-card p {
  height: 200px;
  line-height: 22px;
  font-size: .8rem;
  text-align: justify;
}

.section5 .reference-card .card .foto-card {
  position: absolute;
  padding: 10px;
  transform: translate(-75px, -90px);
}

.section5 .reference-card .card .foto-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 8px grey;
  cursor: pointer;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

main .section5 .reference-card .card .foto-card img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.section5 .reference-card .card .text-card .card-foot {
  position: absolute;
  bottom: 5px;
}

.section5 .reference-card .card .text-card .card-foot h4 {
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  color: #004191;
}

.section5 .owl-carousel .owl-nav.disabled {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.section5 .owl-carousel .owl-nav.disabled .owl-prev,
.section5 .owl-carousel .owl-nav.disabled .owl-next {
  background-color: white;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 8px grey;
  border-radius: 50%;
  outline: none;

}

.section5 .owl-carousel .owl-nav.disabled .owl-prev:hover,
.section5 .owl-carousel .owl-nav.disabled .owl-next:hover {
  background-color: #e0e0e5;
  transition: .5s ease-in;
}

.section5 .owl-carousel .owl-nav.disabled .owl-next {
  margin-right: 12px;
}

.section5 .owl-carousel .owl-nav.disabled button span {
  font-size: 2rem;
  color: #004191;
}

/*section5 end*/

/*section6 begin*/
.section6 {
  margin-top: 50px;
}

.section6 .connection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.section6 .connection .contact-left {
  padding: 10px;
}

.section6 .connection .contact-left h2 {
  color: #004191;
}

.section6 .connection .contact-left .contact-box .contact-details {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.section6 .connection .contact-left .contact-box .contact-details input,
textarea {
  padding: 15px;
  border: 1px solid #004191;
}

.section6 .connection .contact-left .contact-box .contact-details button {
  background-color: #004191;
  padding: 15px;
  color: white;
  border: none;
}

.section6 .connection .contact-left .contact-box .contact-details button:hover {
  background-color: white;
  color: #004191;
  transition: .5s ease-in-out;
  border: 1px solid #004191;
}

.section6 .connection .contact-right {
  background-image: url(img/Ellipse\ 14.png);
  padding: 70px 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(178, 208, 244, 0.7);
}

.section6 .connection .contact-right img {
  max-width: 550px;
  cursor: pointer;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

.section6 .connection .contact-right img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*section6 end*/

/*main end*/

/*footer begin*/
footer {
  position: relative;

}

footer .ellipse {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;

}

footer .ellipse img {
  width: 100%;
}

footer .ellipse p {
  position: absolute;
  top: 40px;
  text-align: center;
  right: 0;
  left: 0;
  transform: translate(0, 50%);
  color: white;
}

footer .subscribe {
  margin-top: 50px;
  padding: 100px 0;
  border-top: 1px solid rgb(186, 183, 183);
}

footer .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

footer .foot .subs-1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 45%;
  padding: 10px;
}

footer .foot .subs-1 img {
  width: 150px;
}

footer .foot .subs-1 .subs-text h6 {
  color: #004191;
  font-weight: bold;
}

footer .foot .subs-1 form {
  position: relative;
}

footer .foot .subs-1 form i {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  color: #2196f3;
  cursor: pointer;
}

footer .foot .subs-1 input {
  width: 100%;
  padding: 10px;
  border: 1px solid #004191;
}

footer .foot .subs-2 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 40px;
  width: 45%;
}

footer .foot .subs-2 .subs-nav {
  display: flex;
  justify-content: space-between;
}

footer .foot .subs-2 .subs-nav a {
  color: #004191;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

footer .foot .subs-2 .subs-nav a:hover {
  color: #2196f3;
}

footer .foot .subs-2 .subs-addr h6 {
  color: #004191;
  font-weight: bold;
}

footer .foot .subs-2 .subs-numbers {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

footer .foot .subs-2 .subs-numbers a {
  color: #004191;
  font-weight: bold;
}

footer .foot .subs-2 .soc-net {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

footer .foot .subs-2 .soc-net a {
  padding: 5px;
}

footer .foot .subs-2 .soc-net a i {
  font-size: 1.4rem;
  color: #004191;
  cursor: pointer;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}




footer .foot .subs-2 .soc-net a i:hover {
  color: #2196f3;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* connect begin */
.connect-wp {
  position: fixed;
  z-index: 99;
  right: 170px;
  bottom: 10px;
  gap: 15px;
  list-style: none;
  display: flex;
  align-items: center;
}

.connect-tel {
  position: fixed;
  z-index: 99;
  right: 95px;
  bottom: 10px;
  gap: 15px;
  list-style: none;
  display: flex;
  align-items: center;
}

.connect-chevron {
  position: fixed;
  z-index: 99;
  right: 20px;
  bottom: 10px;
  gap: 15px;
  list-style: none;
  display: flex;
  align-items: center;
  display: none;
}

.connect-chevron li {
  box-shadow: 0 0 8px white;
  border-radius: 50%;
}

.connect-wp:before,
.connect-wp:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 55%;
  background-color: #a4a4ab;
  border-radius: 50%;
  z-index: -1;
  opacity: .7;
}

.connect-tel:before,
.connect-tel:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 58%;
  background-color: #a4a4ab;
  border-radius: 50%;
  z-index: -1;
  opacity: .7;
}

.connect-wp:before,
.connect-tel:before {
  animation: pulse 2s ease-out infinite;
}

.connect-wp:after,
.connect-tel:after,
.connect-chevron:after {
  animation: pulse 2s 1s ease-out infinite;
}

@keyframes pulse {
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.connect-wp li a i,
.connect-tel li a i {
  color: white;
  font-size: 1.6rem;
  padding: 15px;
}

.connect-chevron li a i {
  font-size: 2.2rem;
  color: white;
  padding: 12px 14px;

}

.connect-wp li a .fa-whatsapp,
.connect-tel li a .fa-phone-alt,
.connect-chevron li a .fa-chevron-up {
  background-color: #004191;
  border-radius: 50%;
}

.connect-wp li a i:hover,
.connect-tel li a i:hover,
.connect-chevron li a i:hover {
  background-color: #20b156;
  transition: .6s;
}

/* connect end*/
/*footer end*/

/*Responsive design begin*/
@media (max-width: 1325px) {
  body .show-menu .show-right .subs-numbers {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .show-right .numb-socs {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width:1199px) {
  footer .ellipse p {
    top: 20px;
    transition: .5s;
  }
  /*destination page begin*/
  .inspire .gallery-insp {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 45px;
  }
  .right-destiny .foto2 .button-next, .right-destiny .foto1 .button-prev {
    right: 20px;
  }
  /*destination page end*/
}

@media (max-width:1099px) {
  .about .bg-1 .section1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .destination .section2 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1055px) {
  .section6 .connection .contact-right {
    max-width: 100%;
    padding: 60px 40px;
  }

  .section6 .connection .contact-right img {
    width: 100%;
  }
}

@media (max-width: 992px) {

  body .show-menu .show-left div h1 a {
    font-size: 2.5rem;
  }

  body .show-menu .show-left .subs-numbers {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  body .show-menu .show-left .subs-addr {
    text-align: center;
    padding-right: 0px;
  }

  .inspire h2 {
    padding-bottom: 40px;
  }

  /*destination page begin*/
  .destinations .destiny {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }

  .destinations .destiny .right-destiny {
    width: 70%;
  }
  .destinations .destiny .left-destiny {
    width: 100%;
    text-align: justify;
  }
  .countries .country-selection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .countries .country-selection .country-text {
    width: 100%;
    text-align: justify;
  }
  .accomodation .travel-place {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .accomodation .travel-place .travel-foto {
    width: 100%;
  }
  .accomodation .travel-place .travel-text {
    width: 100%;
  }
  .accomodation .travel-place .travel-text h3 {
    padding-bottom: 0px;
  }
  .arrive {
    margin-top: 40px;
  }
  .arrive #arrive-direct {
    flex-direction: column;
    gap: 25px;
  }
  .arrive #arrive-reverse {
    flex-direction: column-reverse;
    gap: 25px;
  }
  .arrive .arriving .arriving-left, .arrive .arriving .arriving-right  {
    width: 100%;
  }
  .arrive .arriving .arriving-left img {
    max-height: 450px;
    object-fit: cover;
  }
  /*destination page end*/

  .section6 .connection {
    flex-direction: column-reverse;
  }

  .section6 .connection .contact-right {
    width: 100%;
    background-size: 100% 100%;
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section6 .connection .contact-left {
    width: 100%;
  }

  footer .foot {
    flex-direction: column;
  }

  footer .foot .subs-1 {
    width: 100%;
  }

  footer .foot .subs-2 {
    width: 100%;
  }

  footer .foot .subs-2 .subs-nav {
    justify-content: flex-start;
    gap: 20px;
  }

  footer .ellipse p {
    top: 15px;
  }
}

@media (max-width: 768px) {

  body .show-menu .show-left .langs, .home-navi,
  .navi-gators, .subs-numbers, .subs-addr {
    width: 80%;
  }

  body .show-menu .show-left .subs-numbers {
    justify-content: flex-start;
  }

  body .show-menu .show-left .subs-addr {
    text-align: left;
  }

  body .show-menu .show-right {
    display: none;
  }

  .burger-menu.activated .bar1,
  .burger-menu.activated .bar2,
  .burger-menu.activated .bar3 {
    background-color: #004191 !important;
  }

  .menu-open.actived span {
    color: #004191;
  }

  body .show-menu .show-left {
    width: 100%;
    padding-top: 120px;

  }

  body .show-menu .show-left .langs {
    visibility: visible;
  }

  body .show-menu .show-left div h1 a {
    font-size: 2.5rem;
    line-height: normal;
  }

  .show-right .subs-numbers {
    visibility: visible;
  }

  header .basliq-blur .nav-menu .nav1 .lang-globe {
    display: none;
  }

  header .basliq-blur .nav-menu .nav1 {
    justify-content: center;
  }

  header .basliq-blur .nav-bottom .nav2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .countries .country-selection .country-left {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .section4 .cards {
    flex-direction: column;
  }

  .section4 .cards .card {
    width: 60% !important;
  }

  .section5 .reference-card .card .text-card p {
    line-height: 30px;
    transition: .5s;
    font-size: 1rem;
  }

  .section5 .reference-card .card .foto-card {
    transform: translate(0px, -90px);
  }

  footer .ellipse p {
    top: 5px;
    transition: .5s;
    font-size: .9rem;
  }
}

@media (max-width: 670px) {

  .about .section1 .sect1-foto img {
    width: 100%;
  }

  .destination .section2 .sect2-foto img {
    width: 100%;
  }

}

@media (max-width: 620px) {

  .destinations .destiny .right-destiny {
    width: 100%;
    transition: .5s;
}

  .section6 .connection .contact-right img {
    max-width: 400px;
    transition: .5s all ease-in-out;
  }

  footer .ellipse p {
    top: 0;
  }

  .nav-bottom .nav2 p {
    width: 100%;
  }

}

@media (max-width: 565px) {

  header .nav-menu .logo .foto img {
    max-width: 150px;
  }
}

@media (max-width: 460px) {
  .section6 .connection .contact-right img {
    max-width: 340px;
  }

  .right-destiny .foto2 .button-next, .right-destiny .foto1 .button-prev {
    display: none;
}

.right-destiny .foto1 img, .right-destiny .foto2 img {
  height: 85%;
}

.right-destiny .foto1 .merkez-text {
  top: 350px;
}

.right-destiny .foto2 .cappa-text {
  bottom: 200px;
  left: -30px !important;
}

.right-destiny .foto2.aktiv .cappa-text {
  left: 5px !important;
}

.merkez-text.rotate {
  rotate: -90deg;
  bottom: 180px !important;
}

.section5 .reference-card .card .text-card p {
    line-height: 25px;
}

.section4 .cards .card {
   width: 100% !important;
}

footer .ellipse img {
    height: 40px;
}

}

@media (max-width: 410px) {
  .section6 .connection .contact-right img {
    max-width: 300px;
  }

  .countries .country-selection .country-left .button-aze .azebtn {
    width: 340px;
  }
  .countries .country-selection .country-left .button-turk .turkbtn.aktiv {
    width: 340px;
  }
  .countries .country-selection .country-text h3, .accomodation .travel-place .travel-text h3 {
    text-align: center;
  }
}

@media (max-width: 395px) {
  .sticky .logo .foto img:nth-child(2) {
    width: 150px;
  }
}

@media (max-width: 376px) {
  footer .foot .subs-2 .subs-nav {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

/*Responsive design end*/